sudo: false
language: python
notifications:
  email: false
env:
  global:
python:
  - 2.7
  - 2.6
  - 3.3
  - 3.4
  - 3.5
install:
  - rm applymoban.py
  - if [[ $TRAVIS_PYTHON_VERSION == "2.6" ]]; then pip install weakrefset; fi
  - pip install https://github.com/pyexcel/pyexcel-webio/archive/master.zip
  - pip install -r requirements.txt
  - pip install -r tests/requirements.txt
script:
  make test
after_success:
  codecov